@import "./../vars/vars";

.certificates {
  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    max-width: 1080px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 20px;
  }
  &__title_bold {
    font-weight: 700;
  }
  &__img {
    width: 100%;
    height: 414px;
    object-fit: cover;
  }
  &__slider {
    height:100%;
   width: auto;
   margin-bottom: 100px;
   @media all and (max-width: 900px) {
    margin-bottom: 50px;
   }
  }
}