
@import "./../vars/vars";
.delivery {
  background-image: url(./../images/delivery.png);
  background-size: 100%;
  background-repeat: no-repeat;
  &__wrap {
    padding: 200px 0 500px;
    max-width: 582px;
    width: 100%;
  }
  &__title {
    color: #ffffff;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 150px;
  }
  &__button {
  max-width: 256px;
  width: 100%;
  height: 56px;
  border: none;
  background: $accentColor;
  color: #1b1b1c;
  font-family: "Nunito Sans";
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  }
}