.modal,
.modal-novorossiysk,
.modal-rostov,
.modal-form,
.modal-form_second,
.modal-form_delivery {
  background: rgba(14, 7, 7, 0.8);
  overflow-y: scroll;
  display: none;
  justify-content: center;
  perspective: 500px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  //opacity: 90%;
  align-items: center;
    &__subtitle 
    {
    font-weight: 700;
    font-family: "Raleway-Bold";
    font-size: 22px;
    line-height: 1.37;
    margin-bottom: 20px;
    @media all and (max-width: 656px) {
      margin-bottom: 2px;
    }
  }
  &__wrap {
    padding: 0 8px;
    max-width: 195px;
    width: 100%;
    margin-left: 40px;
    @media all and (max-width: 656px) {
      margin: 0 auto;
      padding-top: 10px;
    }
  }
  &__text {
    margin-bottom: 10px;
    @media all and (max-width: 840px) {
      margin-bottom: 6px;
    }
  }
  &__map {
    max-width: 400px;
    height: 100%;
    @media all and (max-width: 656px) {
      width: 100%;
      margin-top: 26px;
    }
  }
}


.modal-wrapper {
  position: relative;
  max-width: 800px;
  max-height: 228px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(52, 119, 196, 0.35),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0 10px;
  @media all and (max-width: 656px) {
    max-height: 420px;
    max-width: 400px;
    overflow: hidden;
  }
}


.modal-header {
  display: flex;
  align-items: center;
  @media all and (max-width: 656px) {
    flex-direction: column;
  }
}

.close-btn,
.close-btn2,
.close-btn3,
.close-btn4,
.close-btn5,
.close-btn9  {
  z-index: 2;
  right: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
}
.close-btn,
.close-btn2,
.close-btn3 {
  @media all and (max-width: 656px) {
    top: 1px;
  }
}

.modal-form {
  &__label {
    width: 100%;
    border: 1px solid transparent;
    min-height: 46px;
    line-height: 1.466;
    font-family: inherit;
    font-size: 15px;
    font-weight: 400;
    padding: 12px 25px 11px 15px;
    word-break: keep-all;
    border-radius: 4px;
  }
  &__wrapper {
    max-width: 500px;
  }
  &__wrapper_second {
    max-width: 800px;
    @media all and (max-width: 840px) {
      max-width: 500px;
      margin: 10px;
    }
  }
  &__img {
    max-width: 400px;
    width: 100%;
    // object-fit: cover;
    @media all and (max-width: 840px) {
      display: none;
    }
  }
  &__wrapper,
  &__wrapper_second {
    margin: 0 auto;
    position: relative;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(52, 119, 196, 0.35),
    inset 0px 1px 0px rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  @media all and (max-width: 840px) {
    margin: 10px;
  }
  }
  // &__wrapper_second {
  //   @media all and (max-width: 840px) {
  //     margin: 10px;
  //   }
  // }
  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  &__form {
    max-width: 320px;
    width: 100%;
  }
  &__input{
    height: 47px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: 1px solid rgba(27,27,28,.15);
    padding: 0 15px;
}
 &__title,
 &__title_second {
  font-size: 20px;
    line-height: 1.37;
    font-weight: 700;
    font-family: "Raleway-Medium";
    text-align: center;
    margin: 50px 0 40px;
 }
 &__title_second {
  @media all and (max-width: 840px) {
    margin: 30px 0 20px;
  }
  @media all and (max-width: 400px) {
    margin: 10px 0 10px;
  }
 }
 &__label {
  color: #1b1b1c;
 }
 &__wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 322px;
  margin: 0 auto;
 }
 &__bottom {
  max-width: 320px;
  width: 100%;
  height: 46px;
  color: #ffffff;
  background: #70c642;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: none;
  margin: 22px 0;
}
&__text {
  font-size: 14px;
  line-height: 16px;
  color: rgba(37, 37, 37, 0.742);
  font-family: "Raleway-Light";
  padding-bottom: 30px;
  @media all and (max-width: 840px) {
    padding-bottom: 10px;
  }
}
&__text__link {
  color: rgba(37, 37, 37, 0.742);
  cursor: pointer;
}
&__form_checkbox {
  display: flex;
}
&__form_checkbox {
  display: flex;
  margin: 14px 0;
}
&__checkbox {
  margin-right: 10px;
}
&__textarea {
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 15px;
  height: 90px;
}
&__content {
  display: flex;
  @media all and (max-width: 840px) {
    flex-direction: column;
    align-items: center;
  }
}
// &__img-deliv {
//   max-width: 445px;
// }
}

.modal-form_second-input {
  height: 47px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: 1px solid rgba(27,27,28,.15);
  padding: 0 15px;
}
.modal-form_second-bottom {
  max-width: 320px;
  width: 100%;
  height: 46px;
  color: #ffffff;
  background: #ffbd03;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border: none;
  margin: 16px 0 20px;
  @media all and (max-width: 840px) {
    margin: 2px 0 20px;
  }
}

.modal-form__label-checkbox > label {
  font-size: 15px;
  font-family: "Raleway-Light";
  color: #1b1b1c;
}
#start {
  border: 1px solid rgba(27, 27, 28, 0.15);
}
.inframe-modal {
  border-radius: 2% 0 0 2%;
  -webkit-border-radius: 2% 0 0 2%;
  -moz-border-radius: 2% 0 0 2%;
  -ms-border-radius: 2% 0 0 2%;
  -o-border-radius: 2% 0 0 2%;
 @media all and (max-width: 656px) {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
    
}

.modal-form__wrapper_second
.modal-form__wrapper,
.modal-header__form {
  overflow-y: auto;
}